convert string to lowercase without using built in functions

In [27]:
str=input("Enter a string input : ")
str2=""
for char in str:
    
    if ord(char)>=65 and ord(char)<=90:
        str2+=chr(ord(char)+32)
    else:
        str2+=char
        
print(str2)

mailar434

Merge two dictionaries 
d1= {"a":1,"b":2}
d2={"b":3, "c":4}
result={"a":1,"b":3,"c":4}

In [33]:
d1= {"a":1,"b":2}
d2={"b":3, "c":4}
print(d1)
print(d2)
result={}
result=d1 | d2

{'a': 1, 'b': 2}
{'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [37]:
print(d1|d2)

{'a': 1, 'b': 3, 'c': 4}

In [36]:
d3={**d1, **d2}
print(d3)

{'a': 1, 'b': 3, 'c': 4}

In [38]:
d1.update(d2)
print(d1)

{'a': 1, 'b': 3, 'c': 4}

Output of the code?
a=-(100%30) // 3

In [39]:
a=-(100%30) // 3
print(a)

-4

Is this correct ?
def foo(a,b=6,c,d):
    return a+b+c+d
Answer:

In [40]:
def foo(a,b=6,c,d):
    return a+b+c+d

SyntaxError: non-default argument follows default argument (813909170.py, line 1)

In [41]:
def foo(a,b=6,c=0,d=0):
    return a+b+c+d

In [42]:
def foo(a,c,d,b=6):
    return a+b+c+d

take a string as input and print the number of unique characters present in that string
Eg abccdd - 4

In [45]:
string=input("Enter the input string ")

hashset=set(string)
print(len(hashset))

1

Given a string input, ascertain wheather the string contains a complete binary number or not
Eg. "00001100101010ab" is not a binary number
     "0010101011110101011" is a binary number

In [59]:
string=input()

if all(str=='1' or str =='0' for str in string):
    print("Binary")
else:
    print("Not a binary")

Binary

In [58]:
def check_binary(string):
    set_chars=set(string)
    if len(set_chars) not in [1,2]:
        return False
    if set_chars<= {'0','1'}:
        return True
    else:
        return False 

check_binary("000000000111111111")
check_binary("aassa0100100")
check_binary("")

False

In [52]:
set1={0,1}
set2={1,0}
print({0,1}=={1,0})

True

Take a string as input and
Create a dictionary containing key value pair for each unique character with value being its number of occurence
input="abcdda"
output ={a:2,b:1,c:1,d:2}

In [62]:
#string=input()
string="rrssssttt"
dict={}
for char in string:
    dict[char]=dict.get(char,0)+1
print(dict)

{'r': 2, 's': 4, 't': 3}

In [61]:
string="rrssssttt"
result={}
for char in set(string):
    result[char]=string.count(char)
print(result)

{'r': 2, 's': 4, 't': 3}

print multiplication table of all numbers from 1 to N and take N as input.
Try single line logic

In [64]:
N=int(input())
for i in range(1,N):
    for j in range(1,10):
        print(f"{i} * {j}={i*j}")

1 * 1=1
1 * 2=2
1 * 3=3
1 * 4=4
1 * 5=5
1 * 6=6
1 * 7=7
1 * 8=8
1 * 9=9
2 * 1=2
2 * 2=4
2 * 3=6
2 * 4=8
2 * 5=10
2 * 6=12
2 * 7=14
2 * 8=16
2 * 9=18
3 * 1=3
3 * 2=6
3 * 3=9
3 * 4=12
3 * 5=15
3 * 6=18
3 * 7=21
3 * 8=24
3 * 9=27
4 * 1=4
4 * 2=8
4 * 3=12
4 * 4=16
4 * 5=20
4 * 6=24
4 * 7=28
4 * 8=32
4 * 9=36

In [69]:
N=int(input())
[[i*j for j in range(1,11)] for i in range(1,N+1)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

write a list flattener function
input [1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]]
output [1,2,3,4,5]

In [84]:
inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 

inputList=[[1], [2, 3], [4, 5, 6, 7]]
flatlist=sum(inputList,[]) # works for only one level depth
print(flatlist)

[1, [2, 3], 4, 5, 6, 7]

In [92]:
inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 
#inputList= [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
#flatList=[element for innerList in inputList for element in innerList]
result=[]
for i in inputList:
    result.extend(i)
print(result)

TypeError: 'int' object is not iterable

In [93]:
def flat(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList

inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 

print(flat(inputList))

[1, 2, 3, 4, 5, [[[5, 6, 7], [8, 9, 0]]]]

In [95]:
def reemovNestings(l,output):
    for i in l:
        if type(i) == list:
            reemovNestings(i,output)
        else:
            output.append(i)
inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 
output=[]
reemovNestings(inputList,output)
print(output)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

In [96]:
s = "My PO Box number is 310"
print(s.isspace())

False

In [100]:
x="12345"+'6'
print(x)

123456

In [102]:
print("Data" > "Dtaa", "Science" < "Scien")

False False

In [106]:
print("Da" > "D")

False

In [109]:
string="mailermailer"
print(string.split('e',4))

['mail', 'rmail', 'r']

In [116]:
print("pytho@n".join('@'))

@

In [127]:
str1 = "quick brown foxiword!"
print(str1[12:15])
print(str1[:5])
print(str1[-5:-1])
print( str1[8:110])
print(str1[-4:])

fox
quick
word
own foxiword!
ord!

In [131]:
from array import array
arr = array('i', [1, 2, 3, 1, 4, 7, 9, 12])
print(arr)
print(arr[1:4][1])

array('i', [1, 2, 3, 1, 4, 7, 9, 12])
3

Given the following line of codes in order to find the index of the first occurrence of a duplicate element, at which index will the for loop break?

In [133]:
from array import array
arr= array("i",[2,1,3,4,7,6,4,6,9])
for i in range(len(arr)+1):
  if arr[i] in arr[i+1:]:
    print(i)
    break

3

Address of A[I][J] = B + W * ((I – LR) * N + (J – LC))


I = Row Subset of an element whose address to be found,
J = Column Subset of an element whose address to be found,
B = Base address,
W = Storage size of one element store in an array(in byte),
LR = Lower Limit of row/start row index of the matrix(If not given assume it as zero),
LC = Lower Limit of column/start column index of the matrix(If not given assume it as zero),
N = Number of column given in the matrix.

In [135]:


my_list=[1,2,3,[4,5],[[5,6],7],[8,9,0]]

def flattener(lst):
    result=[]
    while lst:
        item=lst.pop()
        if type(item)==list:
            lst.extend(item)
        else:
            result.append(item)
    return result[::-1]

print(flattener(my_list))

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

Sort a list of tuples based on third element in each tuple

list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
sort list should be [(24, 12, 31),(27, 11, 32),(42, 34, 42),(34, 21, 56)]

print(sorted(list_,key=list_[2]))

In [138]:
list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
def middle(n):  
    return n[1]

print(sorted(list_,key=middle))

[(27, 11, 32), (24, 12, 31), (34, 21, 56), (42, 34, 42)]

In [139]:
#with lambda function 
#and with descending order

list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
def middle(n):  
    return n[1]

print(sorted(list_,key=lambda x:x[2] , reverse=True))

[(34, 21, 56), (42, 34, 42), (27, 11, 32), (24, 12, 31)]

In [140]:
cout << "Hello world!"

NameError: name 'cout' is not defined

In [88]:
# lst=[1,2,3]
# flat=[item for sublist in lst for item in sublist]
# print(flat)

import itertools


my_list = [[1], [2, 3], [4, 5, 6, 7]]
my_list=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 
flat_list = list(itertools.chain(*my_list))
print(reduce(lambda x, y: x+y, my_list))

TypeError: 'int' object is not iterable