convert string to lowercase without using built in functions

In [27]:
str=input("Enter a string input : ")
str2=""
for char in str:
    
    if ord(char)>=65 and ord(char)<=90:
        str2+=chr(ord(char)+32)
    else:
        str2+=char
        
print(str2)

mailar434

Merge two dictionaries 
d1= {"a":1,"b":2}
d2={"b":3, "c":4}
result={"a":1,"b":3,"c":4}

In [33]:
d1= {"a":1,"b":2}
d2={"b":3, "c":4}
print(d1)
print(d2)
result={}
result=d1 | d2

{'a': 1, 'b': 2}
{'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [37]:
print(d1|d2)

{'a': 1, 'b': 3, 'c': 4}

In [36]:
d3={**d1, **d2}
print(d3)

{'a': 1, 'b': 3, 'c': 4}

In [38]:
d1.update(d2)
print(d1)

{'a': 1, 'b': 3, 'c': 4}

Output of the code?
a=-(100%30) // 3

In [39]:
a=-(100%30) // 3
print(a)

-4

Is this correct ?
def foo(a,b=6,c,d):
    return a+b+c+d
Answer:

In [40]:
def foo(a,b=6,c,d):
    return a+b+c+d

SyntaxError: non-default argument follows default argument (813909170.py, line 1)

In [41]:
def foo(a,b=6,c=0,d=0):
    return a+b+c+d

In [42]:
def foo(a,c,d,b=6):
    return a+b+c+d

take a string as input and print the number of unique characters present in that string
Eg abccdd - 4

In [45]:
string=input("Enter the input string ")

hashset=set(string)
print(len(hashset))

1

Given a string input, ascertain wheather the string contains a complete binary number or not
Eg. "00001100101010ab" is not a binary number
     "0010101011110101011" is a binary number

In [59]:
string=input()

if all(str=='1' or str =='0' for str in string):
    print("Binary")
else:
    print("Not a binary")

Binary

In [58]:
def check_binary(string):
    set_chars=set(string)
    if len(set_chars) not in [1,2]:
        return False
    if set_chars<= {'0','1'}:
        return True
    else:
        return False 

check_binary("000000000111111111")
check_binary("aassa0100100")
check_binary("")

False

In [52]:
set1={0,1}
set2={1,0}
print({0,1}=={1,0})

True

Take a string as input and
Create a dictionary containing key value pair for each unique character with value being its number of occurence
input="abcdda"
output ={a:2,b:1,c:1,d:2}

In [62]:
#string=input()
string="rrssssttt"
dict={}
for char in string:
    dict[char]=dict.get(char,0)+1
print(dict)

{'r': 2, 's': 4, 't': 3}

In [61]:
string="rrssssttt"
result={}
for char in set(string):
    result[char]=string.count(char)
print(result)

{'r': 2, 's': 4, 't': 3}

print multiplication table of all numbers from 1 to N and take N as input.
Try single line logic

In [64]:
N=int(input())
for i in range(1,N):
    for j in range(1,10):
        print(f"{i} * {j}={i*j}")

1 * 1=1
1 * 2=2
1 * 3=3
1 * 4=4
1 * 5=5
1 * 6=6
1 * 7=7
1 * 8=8
1 * 9=9
2 * 1=2
2 * 2=4
2 * 3=6
2 * 4=8
2 * 5=10
2 * 6=12
2 * 7=14
2 * 8=16
2 * 9=18
3 * 1=3
3 * 2=6
3 * 3=9
3 * 4=12
3 * 5=15
3 * 6=18
3 * 7=21
3 * 8=24
3 * 9=27
4 * 1=4
4 * 2=8
4 * 3=12
4 * 4=16
4 * 5=20
4 * 6=24
4 * 7=28
4 * 8=32
4 * 9=36

In [69]:
N=int(input())
[[i*j for j in range(1,11)] for i in range(1,N+1)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

In [141]:
import sys

a=[]
b=a
print(sys.getrefcount(a))

3

write a list flattener function
input [1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]]
output [1,2,3,4,5]

In [84]:
inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 

inputList=[[1], [2, 3], [4, 5, 6, 7]]
flatlist=sum(inputList,[]) # works for only one level depth
print(flatlist)

[1, [2, 3], 4, 5, 6, 7]

In [92]:
inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 
#inputList= [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
#flatList=[element for innerList in inputList for element in innerList]
result=[]
for i in inputList:
    result.extend(i)
print(result)

TypeError: 'int' object is not iterable

In [93]:
def flat(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList

inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 

print(flat(inputList))

[1, 2, 3, 4, 5, [[[5, 6, 7], [8, 9, 0]]]]

In [95]:
def reemovNestings(l,output):
    for i in l:
        if type(i) == list:
            reemovNestings(i,output)
        else:
            output.append(i)
inputList=[1,2,3,[4,5],[[[[5,6,7],[8,9,0]]]]] 
output=[]
reemovNestings(inputList,output)
print(output)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

In [96]:
s = "My PO Box number is 310"
print(s.isspace())

False

In [100]:
x="12345"+'6'
print(x)

123456

In [102]:
print("Data" > "Dtaa", "Science" < "Scien")

False False

In [106]:
print("Da" > "D")

False

In [109]:
string="mailermailer"
print(string.split('e',4))

['mail', 'rmail', 'r']

In [116]:
print("pytho@n".join('@'))

@

In [127]:
str1 = "quick brown foxiword!"
print(str1[12:15])
print(str1[:5])
print(str1[-5:-1])
print( str1[8:110])
print(str1[-4:])

fox
quick
word
own foxiword!
ord!

In [131]:
from array import array
arr = array('i', [1, 2, 3, 1, 4, 7, 9, 12])
print(arr)
print(arr[1:4][1])

array('i', [1, 2, 3, 1, 4, 7, 9, 12])
3

Given the following line of codes in order to find the index of the first occurrence of a duplicate element, at which index will the for loop break?

In [133]:
from array import array
arr= array("i",[2,1,3,4,7,6,4,6,9])
for i in range(len(arr)+1):
  if arr[i] in arr[i+1:]:
    print(i)
    break

3

Address of A[I][J] = B + W * ((I – LR) * N + (J – LC))


I = Row Subset of an element whose address to be found,
J = Column Subset of an element whose address to be found,
B = Base address,
W = Storage size of one element store in an array(in byte),
LR = Lower Limit of row/start row index of the matrix(If not given assume it as zero),
LC = Lower Limit of column/start column index of the matrix(If not given assume it as zero),
N = Number of column given in the matrix.

In [135]:


my_list=[1,2,3,[4,5],[[5,6],7],[8,9,0]]

def flattener(lst):
    result=[]
    while lst:
        item=lst.pop()
        if type(item)==list:
            lst.extend(item)
        else:
            result.append(item)
    return result[::-1]

print(flattener(my_list))

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

Sort a list of tuples based on third element in each tuple

list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
sort list should be [(24, 12, 31),(27, 11, 32),(42, 34, 42),(34, 21, 56)]

print(sorted(list_,key=list_[2]))

In [138]:
list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
def middle(n):  
    return n[1]

print(sorted(list_,key=middle))

[(27, 11, 32), (24, 12, 31), (34, 21, 56), (42, 34, 42)]

In [139]:
#with lambda function 
#and with descending order

list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
def middle(n):  
    return n[1]

print(sorted(list_,key=lambda x:x[2] , reverse=True))

[(34, 21, 56), (42, 34, 42), (27, 11, 32), (24, 12, 31)]

In [142]:
#multiplication table of 1 to 10 in one line
n=int(input())
[ [ i*j for j in range(1,11)] for i in range(1,n+1)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [143]:
#multiplication table brute force

#print multiplication table of n numbers
n=int(input())
for i in range(1,n+1):
  for j in range(1,11):
    print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [148]:
print("10+10"*5)

10+1010+1010+1010+1010+10

In [145]:
print("10+10"*5)

10+1010+1010+1010+1010+10

In [146]:
type(3.5*6)

float

In [ ]:
type("abs")==str

In [149]:
print(type(3.7*8))

<class 'float'>

In [ ]:
type(None)

In [150]:
print(type(None))

<class 'NoneType'>

In [151]:
type(None)==None

False

In [153]:
b=bool(input())
b

True

In [154]:
print(bool(8))

True

In [155]:
print(bool(0))

False

In [156]:
print(bool(False))

False

In [157]:
print(5//2)

2

In [158]:
pint(-5//2)

NameError: name 'pint' is not defined

In [159]:
print(-5//2)

-3

In [160]:
print(100%7)

2

In [161]:
print(-100%7)

5

In [162]:
print(55%56)

55

In [163]:
print(bool(" "))

True

In [164]:
print("1"==1)

False

In [165]:
x=55/11
print(x)

5.0

In [166]:
def square(x):
  if isinstance(x,(int,float)):
    print(x*x)
  else:
    print("Invalid input")
square(4)

16

In [167]:
square(3.4)

11.559999999999999

In [168]:
square("hi")

Invalid input

In [169]:
def print_date(day,month,year,style=0):
  if style==0:
    print(month,day,year,sep="")
  elif style==1:
    print(day,month,year,sep="/")
  else:
    print('Invalid style')

In [170]:
print_date(2,3,4)

324

In [171]:
print_date(2,3,4,1)

2/3/4

In [173]:
l=[5,3,6,9,4,6]
from functools import reduce
avg=reduce(lambda x,y:x+y,l)/len(l)

In [174]:
avg

5.5

In [175]:
a=[7,0,6,1,3]
b=a[3:]
print(b)
b.extend(a[0:3])
print(b)

[1, 3]
[1, 3, 7, 0, 6]

In [176]:
  #rotate array n times
  a=[7,0,6,1,3]
  b=a[3:]+a[0:3]
  print(b)

[1, 3, 7, 0, 6]

In [177]:
a=[7,0,6,1,3]
c=a[3:]+a[:3]
c

[1, 3, 7, 0, 6]

In [179]:
b=list(map(int,input().split()))

In [180]:
b

[1, 2, 3, 4, 5, 6]

In [181]:
#with lambda function 
#and with descending order sort

list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
def middle(n):  
    return n[1]

print(sorted(list_,key=lambda x:x[2] , reverse=True))

[(34, 21, 56), (42, 34, 42), (27, 11, 32), (24, 12, 31)]

In [182]:
list_ = [(34, 21, 56), (24, 12, 31), (42, 34, 42), (27, 11, 32)] 
def middle(n):  
    return n[1]

print(sorted(list_,key=middle))

[(27, 11, 32), (24, 12, 31), (34, 21, 56), (42, 34, 42)]

In [183]:
#flatten nested list
my_list=[1,2,3,[4,5],[[5,6],7],[8,9,0]]

def flattener(lst):
    result=[]
    while lst:
        item=lst.pop()
        if type(item)==list:
            lst.extend(item)
        else:
            result.append(item)
    return result[::-1]

print(flattener(my_list))

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

In [184]:
n=int(input("Enter number of lines"))
for i in range(n):
  for j in range(0,i+1):
      if j==i:
        print("*")
      else:
        print("*",end=' ')

*
* *
* * *
* * * *
* * * * *

In [185]:
n=int(input("Enter number of lines"))
for i in range(n):
  for j in range(0,n-i):
    print(" ",end=' ')

  for k in range(0,i+1):
    if k==i:
      print("*")
    else:
      print("*",end=' ')

          *
        * *
      * * *
    * * * *
  * * * * *

In [186]:
x=[1,2,3]
y=x
y.sort()
print(x)
print(y)

[1, 2, 3]
[1, 2, 3]

In [187]:
print(id(x))
print(id(y))

2118473371712
2118473371712

In [188]:
a1=[8,5,9]
b1=a1[::]
b1.sort()
print(id(a1))
print(id(b1))

2118473373696
2118473381120

In [189]:
players=['a','b','c','d']
print(players)
players+='e'
print(players)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [190]:
players=['a','b','c','d']
players
players=players + 'e'
players

TypeError: can only concatenate list (not "str") to list

In [191]:
player=['A','B','C']
player
player.extend('DE')
player

['A', 'B', 'C', 'D', 'E']

In [192]:
a=[1,2,3]
print(id(a))
a=a+[5,6]
#create new list
print(a)
print(id(a))

2118474648192
[1, 2, 3, 5, 6]
2118474647488

In [193]:
a=[1,2,3]
print(id(a))
a+=[5,6]
#modifies existing list
print(a)
print(id(a))

2118474648192
[1, 2, 3, 5, 6]
2118474648192

In [194]:
#pattern problems
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [195]:
n=int(input())
for i in range(n,0,-1):
  for j in range(i):
    print("*",end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [196]:
n=int(input())
for i in range(1,n+1):
  for j in range(n-i+1):
    print("*",end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [197]:
n=int(input())
for i in range(n):
  for j in range(n):
    if j==0:
      print("*",end='')
    elif j<n-1:
      print("_",end='')
    else:
      print("*")

*___*
*___*
*___*
*___*
*___*

In [198]:
n=int(input())
for i in range(n):
  print("*",end='')
  for j in range(n-2):
    print("_",end="")
  print("*")

*___*
*___*
*___*
*___*
*___*

In [199]:
n=int(input())
for i in range(n):
  for j in range(n-i+1):
    print(" ",end='')
  for k in range(i+1):
    print("*",end='')
  print()

      *
     **
    ***
   ****
  *****

In [200]:
n=int(input())
for i in range(n):
  for k in range(n-i):
    print(" ",end='')
  for j in range((i*2)-1):
    print("*",end='')
  print()

    *
   ***
  *****
 *******

In [201]:
n=int(input())
for i in range(n):
  for j in range(n-i):
    print("*",end='')
  for k in range(2*i):
    print("_",end='')
  for l in range(n-i):
    print("*",end='')
  print()

**********
****__****
***____***
**______**
*________*

In [202]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    print("*",end='')
  for k in range(2*(n-i)-2):
    print("_",end='')
  for l in range(i+1):
    print("*",end='')
  print()

*________*
**______**
***____***
****__****
**********

In [203]:
#diamond
n=int(input())
for i in range(n):
  for j in range(n-i):
    print("*",end='')
  for k in range(2*i):
    print("_",end='')
  for l in range(n-i):
    print("*",end='')
  print()
for i in range(n):
  for j in range(i+1):
    print("*",end='')
  for k in range(2*(n-i)-2):
    print("_",end='')
  for l in range(i+1):
    print("*",end='')
  print()

**********
****__****
***____***
**______**
*________*
*________*
**______**
***____***
****__****
**********

In [204]:
#hollow triangle
n=int(input())
print("*"*n)
for i in range(1,n-1):
  print("*",end='')
  for j in range(n-i-2):
    print("_",end='')
  print("*")
  
  print()
print("*")

*****
*__*

*_*

**

*

In [210]:
#GIL study
#single thread
import time
#from threading import Thread
COUNT=50000000

def countdown(n):
    while n>0:
        n-=1
    
start=time.time()
countdown(COUNT)
end=time.time()
    
print('time taken in seconds - ', end-start)

time taken in seconds -  6.231635808944702

In [211]:
#GIL: multi thread.py
import time
from threading import Thread
COUNT =50000000

def countdown(n):
    while n>0:
        n-=1
    
t1=Thread(target=countdown,args=(COUNT//2,))
t2=Thread(target=countdown,args=(COUNT//2,))
start=time.time()
t1.start()
t2.start()
t1.join()
t2.join()
end=time.time()

print('Time taken is seconds-' , end-start)

Time taken is seconds- 6.269964218139648

In [214]:
#system interval
import sys
print(sys.getswitchinterval())

0.005

In [215]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [216]:
list(range(5,-5))

[]

In [218]:
list(range(5,-5,-1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [219]:
import sys
num_squred_ls=[i**2 for i in range(10000)]
sys.getsizeof(num_squred_ls)

85176

In [220]:
import sys
num_squared_gc=(i**2 for i in range(10000))
sys.getsizeof(num_squared_gc)

208

In [221]:
import cProfile
cProfile.run('sum([i**2 for i in range(10000)])')

         5 function calls in 0.001 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.001    0.001    0.001    0.001 <string>:1(<listcomp>)
        1    0.000    0.000    0.001    0.001 <string>:1(<module>)
        1    0.000    0.000    0.001    0.001 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 {built-in method builtins.sum}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [222]:
import cProfile
cProfile.run('sum((i**2 for i in range(10000)))')

         10005 function calls in 0.010 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
    10001    0.003    0.000    0.003    0.000 <string>:1(<genexpr>)
        1    0.000    0.000    0.009    0.009 <string>:1(<module>)
        1    0.000    0.000    0.010    0.010 {built-in method builtins.exec}
        1    0.007    0.007    0.009    0.009 {built-in method builtins.sum}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [223]:
lst=[1,2,3,4]
print(max(lst))

4